:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  .mat-card {
    margin: 12px;
  }
}
