<div class="container" 
  (click)="handleClick()"
  cdkDropList 
  [id]="coord" 
  [cdkDropListConnectedTo]="listOfCoords"
  (cdkDropListDropped)="dragDropService.drop()"
  [cdkDropListEnterPredicate]="dragDropService.enterPredicate.bind(dragDropService)">
  <div [class]="piece" 
    class="pieces"
    cdkDrag
    [cdkDragData]="coord"
    [cdkDragDisabled]="isDisabled()"
    (cdkDragStarted)="getValidMoves()">
    <div class="drag-placeholder" *cdkDragPlaceholder></div>
  </div>
  <span *ngIf="showCoord | async" class="coordinates">{{coord}}</span>
  <div class="coord-container">
    <div *ngIf="isValidMove" class="valid-move"></div>
    <div *ngIf="hasNextMoves && (showPercent | async)" class="move-percent">{{movePercentage}}</div>
  </div>
</div>
<div class="highlight" 
  [ngClass]="{
    'old-pos': isOldPos, 
    'new-pos': isNewPos, 
    'attacked-none': (showSpace | async) && attackingColor === undefined,
    'attacked-white': (showSpace | async) && attackingColor === 'white',
    'attacked-black': (showSpace | async) && attackingColor === 'black',
    'attacked-both': (showSpace | async) && attackingColor === 'both'
  }" 
  [style.backgroundColor]="hasNextMoves && (showPercent | async) ? nextTurn ? nextTurn === 'white' ? 'green' : 'red' : '' : ''"
  [style.opacity]="hasNextMoves && (showPercent | async) ? opacity : ''">
</div>
