:host {
  position: relative;
}

.coordinates {
  position: absolute;
}

.pieces {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.white-pawn {
  background-image: url("../../../resources/images/white_pawn.svg");
}
.white-knight {
  background-image: url("../../../resources/images/white_knight.svg");
}
.white-bishop {
  background-image: url("../../../resources/images/white_bishop.svg");
}
.white-rook {
  background-image: url("../../../resources/images/white_rook.svg");
}
.white-queen {
  background-image: url("../../../resources/images/white_queen.svg");
}
.white-king {
  background-image: url("../../../resources/images/white_king.svg");
}
.black-pawn {
  background-image: url("../../../resources/images/black_pawn.svg");
}
.black-knight {
  background-image: url("../../../resources/images/black_knight.svg");
}
.black-bishop {
  background-image: url("../../../resources/images/black_bishop.svg");
}
.black-rook {
  background-image: url("../../../resources/images/black_rook.svg");
}
.black-queen {
  background-image: url("../../../resources/images/black_queen.svg");
}
.black-king {
  background-image: url("../../../resources/images/black_king.svg");
}
