:host {
  position: relative;
  z-index: 2
}

.highlight {
  height: 100%;
  position: relative;
  z-index: 1;
  bottom: 100%;

  &.old-pos, &.new-pos {
    background-color: #e9e929;
    opacity: 50%;
  }
}

.coordinates {
  position: absolute;
}

.pieces {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.white-pawn {
  background-image: url("../../../resources/images/white_pawn.svg");
}
.white-knight {
  background-image: url("../../../resources/images/white_knight.svg");
}
.white-bishop {
  background-image: url("../../../resources/images/white_bishop.svg");
}
.white-rook {
  background-image: url("../../../resources/images/white_rook.svg");
}
.white-queen {
  background-image: url("../../../resources/images/white_queen.svg");
}
.white-king {
  background-image: url("../../../resources/images/white_king.svg");
}
.black-pawn {
  background-image: url("../../../resources/images/black_pawn.svg");
}
.black-knight {
  background-image: url("../../../resources/images/black_knight.svg");
}
.black-bishop {
  background-image: url("../../../resources/images/black_bishop.svg");
}
.black-rook {
  background-image: url("../../../resources/images/black_rook.svg");
}
.black-queen {
  background-image: url("../../../resources/images/black_queen.svg");
}
.black-king {
  background-image: url("../../../resources/images/black_king.svg");
}
