.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 100%;
  position: relative;
  z-index: 2;
}

.drag-placeholder {
  display: none;
}

.highlight {
  height: 100%;
  position: relative;
  z-index: 1;
  bottom: 100%;
  opacity: 50%;

  &.old-pos, &.new-pos {
    background-color: #e9e929;
  }

  &.attacked-white {
    background-color: green;
  }

  &.attacked-black {
    background-color: red;
  }

  &.attacked-both {
    background-color: purple;
  }

  &.attacked-none {
    background-color: unset;
  }
}

.coordinates {
  position: absolute;
}

.move-percent {
  position: absolute;
  color: black;
  background-color: white;
  opacity: 85%;
}

.coord-container {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.valid-move {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: solid;
  color: black;
}

.pieces {
  grid-column: 1;
  grid-row: 1;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  display: grid;
  position: relative;
  z-index: 2;
}

.white-pawn {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg");
}
.white-knight {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg");
}
.white-bishop {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg");
}
.white-rook {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg");
}
.white-queen {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg");
}
.white-king {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg");
}
.black-pawn {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg");
}
.black-knight {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg");
}
.black-bishop {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg");
}
.black-rook {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg");
}
.black-queen {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg");
}
.black-king {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg");
}
