:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}

.footer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .catalog {
    display: flex;
    .mat-card {
      margin: 12px;
    }
  }
}
