<h1 class="mat-display-3">Chess Opening Theories</h1>
<mat-divider></mat-divider>

<div class="footer">
  <div class="mat-headline">Browse</div>
  <div class="catalog">
    <mat-card>
      <button mat-button color="accent" routerLink="/e4">King's Pawn Openings</button>
    </mat-card>
    <mat-card>
      <button mat-button color="accent">Queen's Pawn Openings</button>
    </mat-card>
    <mat-card>
      <button mat-button color="accent">Flank Openings</button>
    </mat-card>
  </div>
</div>


