@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-light-green);
$my-app-accent:  mat-palette($mat-purple);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-green);
  $alternate-accent:  mat-palette($mat-purple);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

@import "./app/scss/mat-form-field-outline.scss";
@include search-form-field-outline($my-app-theme);
